<div class="p-3">
  <div class="ms-3">
    <h2 class="text-color">{{ mode }} um pagamento</h2>
    <p class="text-muted">
      Preencha os campos abaixo para {{ mode | lowercase }} um pagamento
    </p>
  </div>

  <div
    class="d-flex justify-content-center py-5"
    *ngIf="loading; else formulary"
  >
    <mat-spinner strokeWidth="6" />
  </div>

  <ng-template #formulary>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-3">
      <div class="row">
        <mat-form-field class="col-lg-6">
          <mat-label>Primeiro nome</mat-label>
          <input
            matInput
            type="text"
            formControlName="firstName"
            maxlength="30"
          />
          <mat-error>O nome é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-lg-6">
          <mat-label>Sobrenome</mat-label>
          <input
            matInput
            type="text"
            formControlName="lastName"
            maxlength="30"
          />
          <mat-error>O nome é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12">
          <mat-label>Nome do usuário</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            maxlength="30"
          />
          <mat-error>O nome é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12">
          <mat-label>Título</mat-label>
          <input matInput type="text" formControlName="title" maxlength="30" />
          <mat-error>O título é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="col-lg-6">
          <mat-label>Data</mat-label>
          <input
            matInput
            type="text"
            inputmode="numeric"
            formControlName="date"
            mask="00/00/0000"
          />
          <mat-error> A data é obrigatória </mat-error>
        </mat-form-field>

        <mat-form-field class="col-lg-6">
          <mat-label>Valor</mat-label>
          <input
            matInput
            type="text"
            inputmode="numeric"
            formControlName="value"
            currencyMask
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
          />
          <mat-error>O valor é obrigatório</mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-between mt-1">
        <button
          mat-stroked-button
          type="button"
          class="primary-stroked-button"
          (click)="onCloseDialog()"
        >
          Cancelar
        </button>

        <button mat-raised-button type="submit" class="primary-raised-button">
          Salvar
        </button>
      </div>
    </form>
  </ng-template>
</div>
