<footer class="footer__container">
  <div class="footer__content">
    <small class="text-muted">
      © 2023 Copyright: Danilo Rodrigues Teixeira
    </small>

    <a
      href="https://www.linkedin.com/in/danilorodriguesteixeira/"
      target="_blank"
    >
      <img
        class="footer__img"
        src="../../../../../assets/images/linkedin-logo.png"
        alt="logomarca do linkedin"
      />
    </a>

    <a href="https://github.com/DaniloTeixeira" target="_blank">
      <img
        class="footer__img"
        src="../../../../../assets/images/github-logo.png"
        alt="logomarca do github"
      />
    </a>
  </div>
</footer>
