<mat-toolbar
  class="d-flex justify-content-between align-items-center flex-wrap primary-bg"
>
  <div class="img__company-container mb-1">
    <img
      class="img__logo-company"
      src="../../../../../assets/images/logo-paystore.png"
      alt="logotipo da empresa, uma mão segurando um cartão de crédito"
    />
    <small class="ms-2 default-text">PayStore</small>
  </div>

  <div class="d-flex align-items-center flex-column">
    <div>
      <button mat-mini-fab [matMenuTriggerFor]="menu" type="button">
        <img
          class="img__profile-user"
          src="../../../../../assets/images/profile-photo.png"
          alt="imagem do usuário logado no sistema"
        />
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item type="button" (click)="onOpenUpdateModal()">
          <mat-icon>manage_accounts</mat-icon>
          <span>Alterar cadastro</span>
        </button>

        <button
          mat-menu-item
          type="button"
          (click)="onLogout()"
          class="default-text"
        >
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
