<mat-card class="login__container mat-elevation-z6">
  <h1 class="text-center text-muted">Login</h1>
  <small class="text-center text-muted mb-4">
    Faça o login para gerenciar seus pagamentos</small
  >

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <mat-form-field class="w-100 mb-2">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error *ngIf="form.controls.email.hasError('required')">
          O e-mail é obrigatório
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('email')">
          Digite o e-mail corretamente
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Senha</mat-label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          matInput
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleShowPassword()"
          type="button"
        >
          <mat-icon color="primary">
            {{ showPassword ? "visibility" : "visibility_off" }}
          </mat-icon>
        </button>
        <mat-error>A senha é obrigatória</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="w-100">ENTRAR</button>
  </form>
</mat-card>
